
    .intro{
        position: absolute;
        left:49.5%;
        top: 15.5%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        height: 180px;
       border-radius: 5px;
      }
      .logo{
            
      }
      .logo h2 {
        /*Modificando el encabezado YCOURSES*/
        text-align: center;
        font-weight: 900;
        font-size: 3em;
        padding-top: 0.7em;
        margin-bottom: 1em;
        
        text-transform: uppercase;
      }
      .logo h2 .capital {
        /*Cambiar de color la primera letra de la palabra YCOURSES*/
        color: black;
      }
      .logo h2 .regular {
        /*La palabra YCOURSES debe ir con el color primario del "logotipo"*/
        color: white;
      }

      #tabla-hija table{
        background-color: white;
        text-align: left;
        border-collapse: collapse;
      width: 100%;
      
    }
    
    #tabla-hija th, td{
      padding: 35px;
      
    }
    
    #tabla-hija thead{
        background-color: rgb(206, 74, 51);
        border-bottom: solid 5px rgb(121, 62, 58);
      color: white;
      
    }
    
    #tabla-hija tr:nth-child(even){
      background-color: #ddd;
      
    }
    
    #tabla-hija tr:hover td{
        background-color:#c53c1a;
      color: white;
      cursor: pointer;
    }