@charset "UTF-8";
/*Importando variables*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
/*Fuentes */
/*Variables ubicadas en /sass/_fuentes.scss que hacen referencia a TODAS las fuentes que se utilizan en este proyecto. 
Esto permite una reutilización y manejo eficiente del código ( ya que de otra forma tendríamos que llamar a la función font-face en cada archivo que deseemos trabajar y que haga uso de ellas.
El uso y manejo de variables de hojas de estilos es una de las de las características del precompilador SASS.
* 
Si deseas consultar documentación del precompilador SASS y relacionados porfavor visita:
*
1. Documentación alternativa en inglés
https://medium.com/@toolmantim/getting-started-with-css-sourcemaps-and-in-browser-sass-editing-b4daab987fb0
*
2. Documentación Oficial de SASS en inglés:
https://sass-lang.com/documentation/file.SASS_REFERENCE.html
*
3. Tutorial MUY RECOMENDADO de SASS en español:
https://www.youtube.com/watch?v=Nro1WwTdCK4&index=1&list=PLPl81lqbj-4I4VwUdjbV2iFg7wispiXKP
*
*
*/
/*
*
Las variables que contienen todas las fuentes del proyecto se encuentran contenidas en /sass/_fuentes.scss.
*
Si deseas cambiar o agregar las fuentes existentes de este proyecto te recomiendo algunas herramientas web para ello:
*
1. Catálogo Google Fonts:
http://fonts.google.com/
*
2. Catálogo Google Fonts 2:
https://www.fonts.com/web-fonts/google?showGoogleFontsDialog
*
3. Catálogo Fonts.com:
https://www.fonts.com/
*
4. Catálogo Font Squirrel:
https://www.fontsquirrel.com/
*
*/
/*Ubuntu*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Bold;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Light;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}
/**/
/*Montserrat*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Bold;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Black;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}
/*Instanciados */
/*
* 
En /sass/_colores.scss se almacena toda la paleta de colores de este sitio web (es decir, sus códigos RGB, RGBA, HEX, entre otros y sus respectivas variables contenedoras), para ser posteriormente utilizadas en las hojas .scss ubicadas en la carpeta /sass. 
Esto debido a que este proyecto hace uso de un precompilador de hojas de estilos llamado SAAS, una técnica muy utilizada para hacer uso eficiente del código css de proyectos extensos.
*
A pesar de esto los resultados finales (que son los que el navegador "lee") siempre quedan guardados en los archivos con extensión css.
*
Siéntete libre de modificar los archivos CSS si así lo deseas.
*
Si deseas consultar documentación del precompilador SASS y relacionados porfavor visita:
*
1. Documentación alternativa en inglés
https://medium.com/@toolmantim/getting-started-with-css-sourcemaps-and-in-browser-sass-editing-b4daab987fb0
*
2. Documentación Oficial de SASS en inglés:
https://sass-lang.com/documentation/file.SASS_REFERENCE.html
*
3. Tutorial MUY RECOMENDADO de SASS en español:
https://www.youtube.com/watch?v=Nro1WwTdCK4&index=1&list=PLPl81lqbj-4I4VwUdjbV2iFg7wispiXKP
*
*******************************************************************
*
Si deseas modificar la paleta de colores, te recomiendo de hacer uso de las diferentes herramientas en la red:
*
1. Gama de Paletas de colores ColorHunt:
https://colorhunt.co/
*
2. Generador de paleta de colores a partir de imágenes CANVA:
https://www.canva.com/color-palette/
*
3. Paleta de colores Material Design:
https://material.io/tools/color/#!/?view.left=0&view.right=0
*
4. Gradientes UIGradients:
https://uigradients.com/#Nighthawk
*
5. Generador de gradientes CSS Matic:
https://cssmatic.com/gradient-generator
*
Debes tener en cuenta que las variables de colores, fuentes y cualquiera que tengas en mente solo pueden ser usadas en archivos con extensión .SCSS
*/
/*Colores primarios*/
/*Colores secundarios*/
/*Mod colores*/
.color-calipso {
  color: #1D96B2;
}

.color-info {
  color: #3c91ff;
}

.color-warn {
  color: #ea5252;
}

.color-naranjo {
  clear: both;
  color: #ff8000;
}

/*Bordes*/
.bordes-calipso {
  border: 1px solid #1D96B2;
}

.bordes-info {
  border: 1px solid #3c91ff;
}

.bordes-warn {
  border: 1px solid #ea5252;
}

.bordes-naranjo {
  border: 1px solid #ff8000;
}

/*Titlers*/
.titler-calipso,
.titler-warn,
.titler-info,
.titler-naranjo,
.titler-morado {
  width: 100%;
  height: 3em;
  border-radius: 3px 3px 0 0;
}
.titler-calipso .titler-header,
.titler-warn .titler-header,
.titler-info .titler-header,
.titler-naranjo .titler-header,
.titler-morado .titler-header {
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
}

.titler-calipso {
  background-color: #1D96B2;
  color: #FFFFFF;
}

.titler-warn {
  background-color: #ea5252;
  color: #FFFFFF;
}

.titler-info {
  background-color: #3c91ff;
  color: #FFFFFF;
}

.titler-naranjo {
  background-color: #ff8000;
  color: #FFFFFF;
}

.titler-morado {
  background-color: #6363CE;
  color: #FFFFFF;
}

/*Profiles*/
.profile-cliente,
.profile-empresa,
.profile-serv,
.profile-funcionario {
  float: left;
  height: 160px;
  width: 160px;
  border-radius: 90px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-cliente {
  /*Estilos para perfil de usuario*/
  /*Configuración de background*/
  background-image: url(/images/profile-avatar.png);
  background-color: #1D96B2;
}

.profile-empresa {
  /*Estilos para perfil de empresa*/
  /*Configuración de background*/
  background-image: url(/images/businessman.png);
  background-color: #ff8000;
}

.profile-funcionario {
  /*Estilos para perfil de empresa*/
  /*Configuración de background*/
  background-image: url(/images/funcionario-icon.png);
  background-color: #3c91ff;
}

.profile-serv {
  /*Estilos para perfil de empresa*/
  /*Configuración de background*/
  background-image: url(/images/book-icon.png);
  background-color: #ea5252;
}

/*

*
*/
* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  /*Limpiamos estilos establecidos en alguna otra hoja de estilo y seteamos los paddings y margins a cero */
  clear: both;
  padding: 0;
  margin: 0;
}

header {
  /*Personalización de la barra de navegación de administrador*/
}
header .logo {
  /*Aplicamos negritas al logotipo de la página web*/
  font-family: Montserrat-Bold, sans-serif;
}
header .logo .capital,
header .logo .regular {
  /*La propiedad font-weight nos permite manejar que tan negrita queremos que sea nuestra fuente*/
  font-weight: 200;
}
header .profile {
  /*Modificamos la pequeña foto de perfil de usuario */
  height: 22px;
  float: left;
  display: block;
  margin-right: 5px;
}

main {
  /*Main es en verdad un contenedor, estándar en HTML5 para indicar que dentro de este contenedor va el contenido principal (y más importante) de esta página.
  Aquí hemos convertido a main en contenedor con propiedades flex (responsivas). Además mediante la propiedad "flex-flow" con un valor "row wrap" indicamos al navegador que los componentes "hijos" (al interior de  este Main) van a acomodarse automáticamente horizontalmente en tamaños de pantalla grande y verticalmente en tamaños de pantalla pequeños.
  Si deseas conocer más de la propiedad Flex y el estándar FlexBox consultar:
  *
  1. Documentación oficial de W3C:
  https://www.w3schools.com/css/css3_flexbox.asp
  *
  2. Guía MUY RECOMENDADA de FlexBox CSS Tricks (en inglés):
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  *
  3. Documentación oficial de MDN (Mozilla) y en español:
  https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Usando_las_cajas_flexibles_CSS
  *
  4. Guía de FlexBox desde 0 por FalconMasters:
  https://www.youtube.com/watch?v=F-KCncXMPk0
  *
  */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.content {
  /*Configuracion de layout
  dado que el ancho de nuestra página se debe adaptar a distintos tamaños, el ancho de este div debe ser dinámico (cambiante) para poder encajar junto a la barra de navegación de administración. Para eso utilizamos una herramienta muy útil de CSS: La función calc, siéntete libre de modificar sus valores para entender como funciona.*/
  height: 100%;
  background-color: white;
  width: calc(100% - 12.5em);
  padding-right: 0;
  margin-right: 0;
}

/* Configuracion del sidebar*/
.side-bar {
  /*Configuracion del sidebar (barra de navegación lateral)y layout*/
  width: 14.2em;
  line-height: 1;
  font-size: 14px;
}
.side-bar::before {
  /*After & Before son pseudoelementos de CSS3, específicadas en el Módulo 3 de su estándar.
  Básicamente sirven para manipular los elementos de nuestros documentos HTML o incluso añadir nuevos elementos que no estén especificados.
  *
  Si deseas conocer más al respecto:
  *
  1. Documentación ::before MDN en español:
  https://developer.mozilla.org/es/docs/Web/CSS/::before
  *
  2. Documentación ::after MDN en español:
  https://developer.mozilla.org/es/docs/Web/CSS/::after
  *
  3. Documentación completa del estándar (Módulo 4) W3C en inglés:
  https://www.w3.org/TR/css-ui-4/
  */
  content: "";
  display: block;
}
.side-bar::after {
  content: "";
  display: table;
  clear: both;
}
.side-bar a {
  /*Elementos de lista*/
  display: block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.side-bar ul,
.side-bar ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-bar ul {
  position: relative;
  float: left;
}
.side-bar ul li {
  float: none;
  min-height: 1px;
  line-height: 2em;
  vertical-align: middle;
  position: relative;
}
.side-bar ul li:hover {
  position: relative;
  cursor: default;
}
.side-bar > ul {
  width: 200px;
}
.side-bar > ul > li.active a {
  background: rgba(128, 128, 128, 0.2);
}
.side-bar > ul > li > a {
  border-right: 4px solid rgba(128, 128, 128, 0.2);
  color: #ea5252;
}
.side-bar > ul > li > a:hover {
  color: #ea5252;
}
.side-bar > ul > li:hover a,
.side-bar > ul > li a:hover {
  background: rgba(128, 128, 128, 0.2);
}
.side-bar li {
  position: relative;
}

/*FIXME:*/
.conter {
  /*Contenedor estandar para main content interface administrador*/
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 2px;
  padding: 1em 1em;
  margin: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.conter.gray {
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
}
.conter .charts {
  flex-wrap: nowrap;
  justify-content: inherit;
}

.grapher {
  display: inline-flex;
  width: 18em;
  height: 8em;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-right: 1em;
}

.contenedor-icon {
  width: 8em;
  height: 8em;
  display: block;
}
.contenedor-icon.visitas {
  background-color: #ea5252;
}
.contenedor-icon.usuarios {
  background-color: #1D96B2;
}
.contenedor-icon.cursos {
  background-color: #ff8000;
}

.grapher-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(/images/estadistica.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.grapher-icon.visitas {
  background-image: url(/images/eyewatch.png);
  background-color: #ea5252;
  width: 80%;
  margin-left: 0.8em;
}
.grapher-icon.usuarios {
  background-image: url(/images/User_icon_white.png);
  background-color: #1D96B2;
  height: 80%;
  margin-top: 0.7em;
}
.grapher-icon.cursos {
  background-color: #ff8000;
  background-image: url(/images/book-white.png);
  width: 75%;
  margin-left: 0.9em;
}

.grapher-content {
  width: 10em;
  height: 8em;
  background-color: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3em 0 1em 0;
}
.grapher-content div {
  display: inline-flex;
  font-family: Montserrat-Bold, sans-serif;
}
.grapher-content.visitas {
  color: #ea5252;
}
.grapher-content.usuarios {
  color: #1D96B2;
}
.grapher-content.cursos {
  color: #ff8000;
}

/*Charts - Graficos */
.reporte {
  height: 100%;
  width: 100%;
  display: inline-flex;
}
.reporte .limitr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.reporte .reporte-title {
  width: 100%;
  height: 5em;
}
.reporte .reporte-contenido {
  display: inline-flex;
  width: 100%;
  height: 20em;
  background-image: url(/images/graficos/chart-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/**/
.searcher {
  justify-content: center;
}

.inputr {
  padding-left: 1.5em;
  font-size: 1.2em;
  height: 2em;
  width: 70%;
  font-family: Ubuntu, sans-serif;
  color: #3c91ff;
}
.inputr:focus {
  border: 1px solid;
  border-color: #3c91ff;
}

.submitr {
  text-transform: uppercase;
  width: 20%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0 5px 5px 0;
  background-color: #3c91ff;
  color: #FFFFFF;
}
.submitr:hover {
  background-color: #367fdf;
  transition: 0.2s all ease;
  cursor: pointer;
}

.tablr {
  justify-content: center;
}
.tablr h2 {
  font-family: Montserrat, sans-serif;
  color: #1D96B2;
}
.tablr .tablr-header {
  width: 60%;
  margin-bottom: 1em;
}
.tablr .tablr-search {
  width: 40%;
  height: 2em;
  display: flex;
}
.tablr .tablr-search input[type=text] {
  font-family: Ubuntu, sans-serif;
  font-size: 1em;
  color: #303C49;
}
.tablr .tablr-search button {
  width: 20%;
  background-color: #1D96B2;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.tablr .tablr-content {
  width: 100%;
}
.tablr .tablr-btn {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: end;
}

.pattern {
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 0 1em;
}
.pattern .cruder-header {
  width: 60%;
  margin-bottom: 1em;
  padding: 1em 1em;
}
.pattern .cruder-header h2 {
  font-family: Montserrat, sans-serif;
  color: #1D96B2;
}

.delimitador {
  padding: 0 8em;
}

.cruder {
  margin-top: 2em;
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 7px;
  border: 1px solid #1D96B2;
  /**/
}
.cruder .profiler {
  width: 100%;
  display: inline-flex;
  margin-bottom: 2em;
}
.cruder .content-cruder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cruder .content-cruder .btn {
  padding: 0;
  margin: 1em 0;
  height: 3.2em;
  width: 20%;
}
.cruder .content-cruder .btn.warn, .cruder .content-cruder .btn.warn-darken {
  width: 40%;
}
.cruder .content-cruder .btn.naranjo {
  width: 20%;
}
.cruder .input-cruder {
  width: 100%;
  height: 3em;
  display: inline-flex;
  margin: 1em 0;
  font-family: Ubuntu, sans-serif;
  color: #303C49;
  font-size: 1em;
  padding-left: 0.5em;
}
.cruder label {
  color: #1D96B2;
}
.cruder hr {
  margin: 1em 0;
  color: rgba(128, 128, 128, 0.2);
}

.blank {
  height: 3em;
}

.limitr {
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 0 1em;
}

.reporter {
  margin: 0;
  border: none;
  justify-content: space-between;
  flex-direction: row;
}

.reporter-pdf,
.reporter-excel,
.reporter-csv {
  height: 180px;
  width: 180px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
}

.rep,
.ilustrador {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.rep {
  display: inline-flex;
  background-image: url(/images/pdf-icon.png);
  height: 80%;
  padding-top: 1em;
}

.ilustrador {
  background-color: #992337;
  height: 20%;
  padding-top: 0.3em;
}
.ilustrador a {
  color: white;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.reporter-pdf {
  background-color: #ea5252;
  color: #FFFFFF;
}

.reporter-excel {
  background-color: #32CD27;
  color: #FFFFFF;
}
.reporter-excel .rep {
  background-image: url(/images/excel-icon2.png);
}
.reporter-excel .ilustrador {
  background-color: #2cb323;
}

.reporter-csv {
  background-color: #189E0E;
  color: #FFFFFF;
}
.reporter-csv .rep {
  background-image: url(/images/excel-icon.png);
}
.reporter-csv .ilustrador {
  background-color: #158a0d;
}

.detallados {
  width: 100%;
  margin-top: 2em;
}
.detallados .btn {
  height: 4em;
  width: 30%;
  margin-left: 0;
  font-size: 1em;
  background-color: #1D96B2;
}

/*# sourceMappingURL=admin.css.map */
