/*Fuentes */
/*Ubuntu*/
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu-Bold;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu-Light;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
/**/
/*Montserrat*/
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat-Bold;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat-Black;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype'), /*Formato para navegadores modernoss */
}


*{
    box-sizing:border-box;
}

html,body{
    padding: 0;
    margin: 0;
}




