@charset "UTF-8";
/*Fuentes */
/*Ubuntu*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Bold;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Light;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

/**/
/*Montserrat*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Bold;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Black;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}

/*variables locales*/
/**/
/**/
/**/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  clear: both;
  padding: 0;
  margin: 0;
}

/*Personalización de la barra de navegación de administrador*/
header {
  /*
    .side-bar{
        height: 30em;
        width: 60%;
        background-color: beige;
        float: left;
    }
    */
}

header a.logo {
  font-family: Montserrat-bold;
}

header a.logo .capital, header a.logo .regular {
  font-weight: 200;
}

header .profile {
  height: 22px;
  float: left;
  display: block;
  margin-right: 5px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.content {
  height: 1000px;
  background-color: blanchedalmond;
  width: calc(100% - 12.5em);
  padding-right: 0;
  margin-right: 0;
  /*Configuracion de layout*/
}

/* Configuracion del sidebar*/
.side-bar {
  /*Configuracion del sidebar y layout*/
  width: 14.2em;
  line-height: 1;
  font-size: 14px;
}

.side-bar::before {
  /*After & Before*/
  content: '';
  display: block;
}

.side-bar::after {
  content: '';
  display: table;
  clear: both;
}

.side-bar a {
  /*Elementos de lista*/
  display: block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.side-bar ul,
.side-bar ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-bar ul {
  position: relative;
  float: left;
}

.side-bar ul li {
  float: none;
  min-height: 1px;
  line-height: 2em;
  vertical-align: middle;
  position: relative;
}

.side-bar ul li:hover {
  position: relative;
  cursor: default;
}

.side-bar > ul {
  width: 200px;
}

.side-bar > ul > li.active a {
  background: rgba(128, 128, 128, 0.2);
}

.side-bar > ul > li > a {
  border-right: 4px solid rgba(128, 128, 128, 0.2);
  color: #ea5252;
}

.side-bar > ul > li > a:hover {
  color: #ea5252;
}

.side-bar > ul > li:hover a,
.side-bar > ul > li a:hover {
  background: rgba(128, 128, 128, 0.2);
}

.side-bar li {
  position: relative;
}
/*# sourceMappingURL=admin.css.map */