body, html{
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
    }

    header {
    
        background-color: #FFFFFF;
        display: grid;
        grid-template-columns: 30% auto;
        
    }


  
.panel1{
 
    width: 1000px;
    height:250px;
    display: block;
    margin-left: 31%

}

li{
    list-style: none;
   
}


.seccion1{
    background-color: rgb(255, 255, 255);
    width: 329px;
    display: inline-block;
    text-align: center;
   
   
}

.seccion2{
    background-color: rgb(255, 255, 255);
    width: 329px;
    display: inline-block;
    text-align: center;
}

.seccion3{
    background-color: rgb(255, 255, 255);
    width: 329px;
    display: inline-block;
    text-align: center;
  
}

.panel2{
    background-color: #48879b;
    width: 1000px;
    height:250px;
   display: block;
   margin-left: 31%;
   text-align: center;

}

h1{
  color: #303C49;
}

p{
color: rgb(255, 255, 255);
text-align: left;
}

.contenedor{
    width: 1000px;
    height:400px;
}

.izquierda{
    float:left;
    margin-left: 3%
}
   
.center {
    float:center;
    text-align: center;
}

.menu-v {
    width: 300px;
    float: left;
    background-color: #eee;
    color: rgb(79, 99, 141); 

}

.menu-v a {
    background-color: #eee; 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}

.menu-v a:hover {
    background-color:#4e8686b6; 
}

.menu-v a.active {
    background-color:#15c5aecb; 
    color: white;
}


   


