/*Fuentes */
/*Ubuntu*/
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu-Bold;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Ubuntu-Light;
    /* Safari, Android, iOS */
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
/**/
/*Montserrat*/
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat-Bold;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
@font-face {
    /*Deepest Possible Browser Support*/
    font-family: Montserrat-Black;
    /* Safari, Android, iOS */
    src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype'), /*Formato para navegadores modernoss */
}
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    background-color: #EFEFEF;
}

/*Para la lista de links: sin estilo para links*/

ul {
    list-style-type: none;
}

/*Selector del header*/

header {
    /*background-color: #303C49;*/
    background-color: #FFFFFF;
    /*Display grid para posicionamiento de los links*/
    display: grid;
    /*Espaciado entre links utilizando la propiedad grid*/
    grid-template-columns: 30% auto;
}

/*Selector para Links del header*/

header a {
    color: #303C49;
    /*color: white;*/
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 1em;
}

/*Logo, con medidas dinámicas para diseño responsivo*/

.logo {
    font-weight: bold;
    font-size: 1.3em;
    padding: 1.5em 0 0 2em;
    margin: 0;
}

/*Personalización del logo*/

.logo span.capital {
    color: black;
}

.logo span.regular {
    color: rgb(234, 82, 82);
}

/*justificado de la lista de navegación*/

nav {
    justify-self: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 2em;
    display: inline-block;
}

/*Efecto de colores que cambia con el desplazamiento del cursor*/

nav ul li a:hover {
    background: rgb(226, 226, 226);
    transition: .3s ease all;
}

nav ul li:nth-child(4) {
    padding-right: 2em;
}

nav.loc ul li:nth-child(4) a {
    color: rgb(234, 82, 82);
    font-weight: bold;
}

nav.loc  ul li:nth-child(4) a:hover {
    color: rgb(153, 35, 55);
    background: #fff;
}

nav.zen ul li:nth-child(4) a:hover {
    
}
nav.adm-nav ul li:nth-child(4) span  {
    height: 10px;
}

.job-container,
.job-container2 {
    background: white;
    border-radius: 7px;
    padding: 1em;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 120px auto;
}

.blank {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.container.regular {
    /*Calculando los margenes, 2em por lado siguiendo principios de diseño*/
    width: calc(100% - 4em);
    padding: 2em;
    margin-top: 2em;
    position: absolute;
}

.container {
    position: absolute;
    background-color: #455668;
    width: 100%;
}

.card {
    width: 100%;
    position: relative;
}

.image img {
    background-size: contain;
    background-attachment: fixed;
    height: 80%;
    width: 100%;
}