@charset "UTF-8";
/*Fuentes */
/*Ubuntu*/
/*Fuentes */
/*Variables ubicadas en /sass/_fuentes.scss que hacen referencia a TODAS las fuentes que se utilizan en este proyecto. 
Esto permite una reutilización y manejo eficiente del código ( ya que de otra forma tendríamos que llamar a la función font-face en cada archivo que deseemos trabajar y que haga uso de ellas.
El uso y manejo de variables de hojas de estilos es una de las de las características del precompilador SASS.
* 
Si deseas consultar documentación del precompilador SASS y relacionados porfavor visita:
*
1. Documentación alternativa en inglés
https://medium.com/@toolmantim/getting-started-with-css-sourcemaps-and-in-browser-sass-editing-b4daab987fb0
*
2. Documentación Oficial de SASS en inglés:
https://sass-lang.com/documentation/file.SASS_REFERENCE.html
*
3. Tutorial MUY RECOMENDADO de SASS en español:
https://www.youtube.com/watch?v=Nro1WwTdCK4&index=1&list=PLPl81lqbj-4I4VwUdjbV2iFg7wispiXKP
*
*
*/
/*
*
Las variables que contienen todas las fuentes del proyecto se encuentran contenidas en /sass/_fuentes.scss.
*
Si deseas cambiar o agregar las fuentes existentes de este proyecto te recomiendo algunas herramientas web para ello:
*
1. Catálogo Google Fonts:
http://fonts.google.com/
*
2. Catálogo Google Fonts 2:
https://www.fonts.com/web-fonts/google?showGoogleFontsDialog
*
3. Catálogo Fonts.com:
https://www.fonts.com/
*
4. Catálogo Font Squirrel:
https://www.fontsquirrel.com/
*
*/
/*Ubuntu*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Bold;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Ubuntu-Light;
  /* Safari, Android, iOS */
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}
/**/
/*Montserrat*/
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Bold;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  /*Deepest Possible Browser Support*/
  font-family: Montserrat-Black;
  /* Safari, Android, iOS */
  src: url("/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}
/*Instanciados */
/*
* 
En /sass/_colores.scss se almacena toda la paleta de colores de este sitio web (es decir, sus códigos RGB, RGBA, HEX, entre otros y sus respectivas variables contenedoras), para ser posteriormente utilizadas en las hojas .scss ubicadas en la carpeta /sass. 
Esto debido a que este proyecto hace uso de un precompilador de hojas de estilos llamado SAAS, una técnica muy utilizada para hacer uso eficiente del código css de proyectos extensos.
*
A pesar de esto los resultados finales (que son los que el navegador "lee") siempre quedan guardados en los archivos con extensión css.
*
Siéntete libre de modificar los archivos CSS si así lo deseas.
*
Si deseas consultar documentación del precompilador SASS y relacionados porfavor visita:
*
1. Documentación alternativa en inglés
https://medium.com/@toolmantim/getting-started-with-css-sourcemaps-and-in-browser-sass-editing-b4daab987fb0
*
2. Documentación Oficial de SASS en inglés:
https://sass-lang.com/documentation/file.SASS_REFERENCE.html
*
3. Tutorial MUY RECOMENDADO de SASS en español:
https://www.youtube.com/watch?v=Nro1WwTdCK4&index=1&list=PLPl81lqbj-4I4VwUdjbV2iFg7wispiXKP
*
*******************************************************************
*
Si deseas modificar la paleta de colores, te recomiendo de hacer uso de las diferentes herramientas en la red:
*
1. Gama de Paletas de colores ColorHunt:
https://colorhunt.co/
*
2. Generador de paleta de colores a partir de imágenes CANVA:
https://www.canva.com/color-palette/
*
3. Paleta de colores Material Design:
https://material.io/tools/color/#!/?view.left=0&view.right=0
*
4. Gradientes UIGradients:
https://uigradients.com/#Nighthawk
*
5. Generador de gradientes CSS Matic:
https://cssmatic.com/gradient-generator
*
Debes tener en cuenta que las variables de colores, fuentes y cualquiera que tengas en mente solo pueden ser usadas en archivos con extensión .SCSS
*/
/*Colores primarios*/
/*Colores secundarios*/
header {
  /* Aplicando estilos al header y su navbar principal*/
  background-color: #FFFFFF;
  /*Display grid para posicionamiento de los links*/
  display: grid;
  /*Espaciado entre links utilizando la propiedad grid*/
  grid-template-columns: 30% auto;
}
header a {
  /*Personalizacion de los links del navbar*/
  color: #303C49;
  text-decoration: none;
  text-transform: uppercase;
}
header h1 {
  /*Selector para Links del header*/
  margin-bottom: 1em;
}
header .logo {
  /*Logo, con medidas dinámicas para diseño responsivo*/
  /*Personalización del logo*/
  font-weight: bold;
  font-size: 1.3em;
  padding: 1.5em 0 0 2em;
  margin: 0;
  font-family: Montserrat-Bold, sans-serif;
  color: #ea5252;
}
header .logo::first-letter {
  color: black;
}
header nav {
  /*justificado con alineación a la derecha de la lista de navegación*/
  justify-self: right;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  padding: 2em;
  padding-top: 2em;
  display: inline-block;
}
header nav ul li a:hover {
  /*Efecto de colores que cambia con el desplazamiento del cursor*/
  background: #e2e2e2;
  transition: 0.3s ease all;
}
header nav ul li.link-ingreso {
  padding-right: 2em;
}
header nav ul li.link-ingreso a {
  color: #ea5252;
  font-family: Montserrat-Bold, sans-serif;
}
header nav ul li.link-ingreso a:hover {
  color: #992337;
  background: #FFFFFF;
}

.btn {
  /* Estilos para botones genéricos:
  porfavor usar esta clase para confeccionar rápidamente
  botones de cualquier tipo, junto a sus variaciones si así lo desea.*/
  height: 3em;
  width: 9em;
  margin-left: 1.5em;
  background: #3c91ff;
  color: white;
  border: none;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}
.btn.calipso {
  /*variación para botones calipso*/
  background-color: #1D96B2;
  color: #FFFFFF;
}
.btn.naranjo {
  /*variación para botones naranjos*/
  background-color: #ff8000;
  color: #FFFFFF;
}
.btn.warn {
  /*variación para botones de advertencia*/
  background-color: #ea5252;
  color: #FFFFFF;
}
.btn.warn-darken {
  /*variación para botones de advertencia*/
  background-color: #992337;
  color: #FFFFFF;
}
.btn.info {
  /*variación para botones de advertencia*/
  background-color: #3c91ff;
  color: #FFFFFF;
}

table {
  /* estilo para tablas del panel de administración */
  /*La estructura básica para las tablas (y sus variaciones) de la página web se encuentran en /sass/_tablas.scss, y son directamente invocadas
  en /sass/principal.scss. Puedes consultar el resultado final en /css/principal.css 
  Si deseas personalizar las tablas, puedes añadir:
  .mod-calipso
  .mod-info
  .mod-warn
  .mod-naranjo
  */
  margin-top: 2em;
  display: table;
  width: 100%;
  border: 2px solid rgba(128, 128, 128, 0.2);
  position: relative;
  /*
  */
}
table tr {
  display: table-row;
  font-family: Montserrat, sans-serif;
}
table tr:nth-child(2n-2) {
  background: rgba(128, 128, 128, 0.2);
}
table th {
  display: table-cell;
  height: 3em;
}
table th:nth-child(odd) {
  background: rgba(128, 128, 128, 0.2);
}
table td {
  height: 3em;
  display: table-cell;
}
table.mod-calipso {
  /*Modificacion calipso para las tablas*/
  border: 1px solid #1D96B2;
}
table.mod-calipso tr:nth-child(2n-2) {
  background-color: #e3e9fa;
}
table.mod-calipso th {
  background-color: #1D96B2;
  color: #FFFFFF;
}
table.mod-warn {
  border: 1px solid #ea5252;
}
table.mod-warn tr:nth-child(2n-2) {
  background-color: #ebd5eb;
}
table.mod-warn th {
  background-color: #ea5252;
  color: #FFFFFF;
}
table.mod-info {
  border: 1px solid #3c91ff;
}
table.mod-info tr:nth-child(2n-2) {
  background-color: #c6ebfc;
}
table.mod-info th {
  background-color: #3c91ff;
  color: #FFFFFF;
}
table.mod-naranjo {
  border: 1px solid #ff8000;
}
table.mod-naranjo tr:nth-child(2n-2) {
  background-color: #ffe3a6;
}
table.mod-naranjo th {
  background-color: #ff8000;
  color: #FFFFFF;
}

/*Editando perfiles*/
.limiter-perfil,
.card-perfil,
.header-perfil,
.main-perfil {
  width: 100%;
}

.limiter-perfil {
  padding: 2em 8em 2em 8em;
  height: 100%;
  background-color: #FFFFFF;
}

.card-perfil {
  display: flex;
  flex: 1 0 44em;
  flex-direction: column;
  height: 100%;
  min-height: 1200px;
  background-color: white;
}

.header-perfil {
  height: 20%;
  min-height: 15em;
  max-height: 40em;
  opacity: 0.8;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px 5px 0 0;
}
.header-perfil.alumno {
  background-color: #3c91ff;
}
.header-perfil.funcionario {
  background-color: #ff8000;
}
.header-perfil.admin {
  background-color: #1D96B2;
}
.header-perfil .limiter-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  height: 100%;
}
.header-perfil .header-perfil-icon {
  display: inline-flex;
  height: 180px;
  min-width: 3em;
  width: 180px;
  min-width: 3em;
  background-image: url(/images/admin-profile.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 90px;
  background-color: white;
}
.header-perfil .header-perfil-icon.alumno {
  background-image: url(/images/profile-avatar.png);
}
.header-perfil .header-perfil-icon.funcionario {
  background-image: url(/images/funcionario-icon.png);
}
.header-perfil .header-perfil-icon.admin {
  background-image: url(/images/admin-profile.gif);
}

.main-perfil {
  border: 1px solid gray;
  border-top: none;
  height: 80%;
  padding: 2em 4em 0 4em;
}
.main-perfil .container-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main-perfil .input-perfil {
  width: 100%;
  height: 3em;
  display: inline-flex;
}
.main-perfil label {
  font-weight: 800;
  margin: 0.6em 0 0.6em 0;
}
.main-perfil .main-botones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 2em;
}
.main-perfil .main-botones .btn {
  margin-left: 0;
  width: 19em;
  margin-bottom: 2em;
}
.main-perfil .main-botones .btn.guardar {
  width: 12em;
  height: 3.5em;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #FFFFFF;
}

/*Para la lista de links: sin estilo para links*/
/*Selector del header*/
main {
  /*Aplicando estilos al contenido main*/
}
main .containerd {
  /*Contenedor principal */
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 2% 0 2%;
}
main .card {
  width: 100%;
  display: block;
  height: 600px;
}
main .image {
  display: inline-block;
}
main .image img {
  /* Modificando los atributos de la imagen principal del card */
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}

/*# sourceMappingURL=principal.css.map */
