/*Mod colores*/

.color-calipso {
    color: $calipso;
}

.color-info {
    color: $calip;
}

.color-warn {
    color: $primary;
}

.color-naranjo {
    clear: both;
    color: $naranjo;
}

/*Bordes*/

.bordes-calipso {
    border: 1px solid $calipso;
}

.bordes-info {
    border: 1px solid $calip;
}

.bordes-warn {
    border: 1px solid $primary;
}

.bordes-naranjo {
    border: 1px solid $naranjo;
}

/*Titlers*/

.titler-calipso,
.titler-warn,
.titler-info,
.titler-naranjo {
    width: 100%;
    height: 3em;
    border-radius: 3px 3px 0 0;
    .titler-header {
        padding-top: .5em;
        padding-left: .5em;
        font-family: $monty;
        font-size: 1.3em;
    }
}

.titler-calipso {
    background-color: $calipso;
    color: $blanco;
}

.titler-warn {
    background-color: $primary;
    color: $blanco;
}

.titler-info {
    background-color: $calip;
    color: $blanco;
}

.titler-naranjo {
    background-color: $naranjo;
    color: $blanco;
}

/*Profiles*/

.profile-cliente,
.profile-empresa,
.profile-serv,
.profile-funcionario {
    float: left;
    height: 160px;
    width: 160px;
    border-radius: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-cliente {
    /*Estilos para perfil de usuario*/
    /*Configuración de background*/
    background-image: url(/images/profile-avatar.png);
    background-color: $calipso;
}

.profile-empresa {
    /*Estilos para perfil de empresa*/
    /*Configuración de background*/
    background-image: url(/images/businessman.png);
    background-color: $naranjo;
}

.profile-funcionario {
    /*Estilos para perfil de empresa*/
    /*Configuración de background*/
    background-image: url(/images/funcionario-icon.png);
    background-color: $calip;
}

.profile-serv {
    /*Estilos para perfil de empresa*/
    /*Configuración de background*/
    background-image: url(/images/book-icon.png);
    background-color: $primary;
}

.searchr {
    margin: 1em 0 2em .8em;
    height: 2.6em;
    width: 100%;
    display: flex;
    justify-content: center;
    .inputr {
        color: $links;
        &:focus {
            border: 1px solid $estructura;
            transition: .2s all ease;
        }
    }
    .btnr {
        height: 93%;
        border: none;
        border-radius: 0 10px 10px 0;
        width: 4em;
        background-color: $estructura;
        color: $negro;
        cursor: pointer;
        &:hover {
            background-color: $links;
            transition: .2s all ease;
        }
    }
}

.searchr.calipso {
    //Personalización de buscador para informes detallados de administración -calipso -clientes
    .inputr:focus {
        border: 1px solid $calipso;
    }
    .btnr {
        background-color: $calipso;
        color: $blanco;
        &:hover {
            background-color: $calipso-darken;
        }
    }
}

.searchr.info {
    //Personalización de buscador para informes detallados de administración -warn -funcionarios
    .inputr:focus {
        border: 1px solid $calip;
    }
    .btnr {
        background-color: $calip;
        color: $blanco;
        &:hover {
            background-color: $calip-darken;
        }
    }
}

.searchr.warn {
    //Personalización de buscador para informes detallados de administración -warn -servicios
    .inputr:focus {
        border: 1px solid $primary;
    }
    .btnr {
        background-color: $primary;
        color: $blanco;
        &:hover {
            background-color: $primary-darken;
        }
    }
}

.searchr.naranjo {
    //Personalización de buscador para informes detallados de administración -naranjo -empresas
    .inputr:focus {
        border: 1px solid $naranjo;
    }
    .btnr {
        background-color: $naranjo;
        color: $blanco;
        &:hover {
            background-color: $naranjo-darken;
        }
    }
}

.selectr {
    justify-content: center;
    align-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 5em 0 5em;
    .selectr-item {
        height: 2.3em;
        position: relative;
        width: 100%;
        font-size: 1rem;
    }
}
.btn.larger{
    height: 4em;
    width: 30%;
    max-width: 20em;
    min-width: 9em;
    margin-bottom: 1.3em;
}