/*Importando variables*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import "_fonts";
@import "_colores";
@import "_components";
/*

*
*/

$def-border:1px solid $estructura;
* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    /*Limpiamos estilos establecidos en alguna otra hoja de estilo y seteamos los paddings y margins a cero */
    clear: both;
    padding: 0;
    margin: 0;
}

header {
    /*Personalización de la barra de navegación de administrador*/
    .logo {
        /*Aplicamos negritas al logotipo de la página web*/
        font-family: $monty-negrita;
        .capital,
        .regular {
            /*La propiedad font-weight nos permite manejar que tan negrita queremos que sea nuestra fuente*/
            font-weight: 200;
        }
    }
    .profile {
        /*Modificamos la pequeña foto de perfil de usuario */
        height: 22px;
        float: left;
        display: block;
        margin-right: 5px;
    }
}

main {
    /*Main es en verdad un contenedor, estándar en HTML5 para indicar que dentro de este contenedor va el contenido principal (y más importante) de esta página.
    Aquí hemos convertido a main en contenedor con propiedades flex (responsivas). Además mediante la propiedad "flex-flow" con un valor "row wrap" indicamos al navegador que los componentes "hijos" (al interior de  este Main) van a acomodarse automáticamente horizontalmente en tamaños de pantalla grande y verticalmente en tamaños de pantalla pequeños.
    Si deseas conocer más de la propiedad Flex y el estándar FlexBox consultar:
    *
    1. Documentación oficial de W3C:
    https://www.w3schools.com/css/css3_flexbox.asp
    *
    2. Guía MUY RECOMENDADA de FlexBox CSS Tricks (en inglés):
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    *
    3. Documentación oficial de MDN (Mozilla) y en español:
    https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Usando_las_cajas_flexibles_CSS
    *
    4. Guía de FlexBox desde 0 por FalconMasters:
    https://www.youtube.com/watch?v=F-KCncXMPk0
    *
    */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.content {
    /*Configuracion de layout
    dado que el ancho de nuestra página se debe adaptar a distintos tamaños, el ancho de este div debe ser dinámico (cambiante) para poder encajar junto a la barra de navegación de administración. Para eso utilizamos una herramienta muy útil de CSS: La función calc, siéntete libre de modificar sus valores para entender como funciona.*/
    height: 100%;
    background-color: white;
    width: calc(100% - 12.5em);
    padding-right: 0;
    margin-right: 0;
}

/* Configuracion del sidebar*/

.side-bar {
    /*Configuracion del sidebar (barra de navegación lateral)y layout*/
    width: 14.2em;
    line-height: 1;
    font-size: 14px;
    &::before {
        /*After & Before son pseudoelementos de CSS3, específicadas en el Módulo 3 de su estándar.
        Básicamente sirven para manipular los elementos de nuestros documentos HTML o incluso añadir nuevos elementos que no estén especificados.
        *
        Si deseas conocer más al respecto:
        *
        1. Documentación ::before MDN en español:
        https://developer.mozilla.org/es/docs/Web/CSS/::before
        *
        2. Documentación ::after MDN en español:
        https://developer.mozilla.org/es/docs/Web/CSS/::after
        *
        3. Documentación completa del estándar (Módulo 4) W3C en inglés:
        https://www.w3.org/TR/css-ui-4/
        */
        content: '';
        display: block;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    a {
        /*Elementos de lista*/
        display: block;
        padding: 20px 20px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    ul,
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul {
        position: relative;
        float: left;
        & li {
            float: none;
            min-height: 1px;
            line-height: 2em;
            vertical-align: middle;
            position: relative;
            &:hover {
                position: relative;
                cursor: default;
            }
        }
    }
    &>ul {
        width: 200px;
        &>li {
            &.active a {
                background: $estructura;
            }
            &>a {
                border-right: 4px solid $estructura;
                color: $primary;
                &:hover {
                    color: $primary;
                }
            }
            &:hover a,
            a:hover {
                background: $estructura;
            }
        }
    }
    li {
        position: relative;
    }
}
/*FIXME:*/
.conter {
    /*Contenedor estandar para main content interface administrador*/
    border: $def-border;
    border-radius: 2px;
    padding: 1em 1em;
    margin: .5em 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    &.gray {
        border: none;
        background-color: $estructura;
    }
    .charts {
        flex-wrap: nowrap;
        justify-content: inherit;
    }
}

.grapher {
    display: inline-flex;
    width: 18em;
    height: 8em;
    border: $def-border;
    margin-right: 1em;
}

.contenedor-icon {
    width: 8em;
    height: 8em;
    display: block;
    &.visitas {
        background-color: $primary;
    }
    &.usuarios {
        background-color: $calipso;
    }
    &.cursos {
        background-color: $naranjo;
    }
}

.grapher-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(/images/estadistica.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.visitas {
        background-image: url(/images/eyewatch.png);
        background-color: $primary;
        width: 80%;
        margin-left: .8em;
    }
    &.usuarios {
        background-image: url(/images/User_icon_white.png);
        background-color: $calipso;
        height: 80%;
        margin-top: .7em;
    }
    &.cursos {
        background-color: $naranjo;
        background-image: url(/images/book-white.png);
        width: 75%;
        margin-left: .9em;
    }
}

.grapher-content {
    width: 10em;
    height: 8em;
    background-color: $blanco;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3em 0 1em 0;
    div {
        display: inline-flex;
        font-family: $monty-negrita;
    }
    &.visitas {
        color: $primary;
    }
    &.usuarios {
        color: $calipso;
    }
    &.cursos {
        color: $naranjo;
    }
}

/*Charts - Graficos */

.reporte {
    height: 100%;
    width: 100%;
    display: inline-flex;
    .limitr{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    
    .reporte-title {
        background-color: #189E0E;
        width:100%;
        height: 5em;
    }
    
    
    .reporte-contenido {
        display: inline-flex;
        width: 100%;
        height: 20em;
        background-color: #1D96B2;
        background-image: url(/images/graficos/chart-2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/**/

.searcher {
    justify-content: center;
}

.inputr {
    //height de la clase inputr también define la altura de su clase hermana: submitr
    padding-left: 1.5em;
    font-size: 1.2em;
    height: 2em;
    width: 70%;
    font-family: $ubuntu;
    color: $calip;
    &:focus {
        border: 1px solid;
        border-color: $calip;
    }
}

.submitr {
    text-transform: uppercase;
    width: 20%;
    border: $def-border;
    border-radius: 0 5px 5px 0;
    background-color: $calip;
    color: $blanco;
    &:hover {
        background-color: $calip-darken;
        transition: .2s all ease;
        cursor: pointer;
    }
}

.tablr {
    justify-content: center;
    h2 {
        font-family: $monty;
        color: $calipso;
    }
    .tablr-header {
        width: 60%;
        margin-bottom: 1em;
    }
    .tablr-search {
        width: 40%;
        height: 2em;
        display: flex;
        input[type="text"] {
            font-family: $ubuntu;
            font-size: 1em;
            color: $links;
        }
        button {
            width: 20%;
            background-color: #1D96B2;
            color: white;
            border: none;
            border-radius: 0 10px 10px 0;
            cursor: pointer;
        }
    }
    .tablr-content {
        width: 100%;
    }
    .tablr-btn {
        width: 100%;
        margin-top: 1em;
        display: flex;
        justify-content: end;
    }
}

.pattern {
    border: $def-border;
    margin: 0 1em;
    .cruder-header {
        width: 60%;
        margin-bottom: 1em;
        padding: 1em 1em;
        h2 {
            font-family: $monty;
            color: $calipso;
        }
    }
}

.delimitador {
    padding: 0 8em;
}

.cruder {
    margin-top: 2em;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 7px;
    border: 1px solid $calipso;
    .profiler {
        width: 100%;
        display: inline-flex;
        margin-bottom: 2em;
    }
    .content-cruder {
        width: 100%;
        display: flex;
        flex-direction: column;
        .btn {
            padding: 0;
            margin: 1em 0;
            height: 3.2em;
            width: 20%;
            &.warn,
            &.warn-darken {
                width: 40%;
            }
            &.naranjo {
                width: 20%;
            }
        }
    }
    /**/
    .input-cruder {
        width: 100%;
        height: 3em;
        display: inline-flex;
        margin: 1em 0;
        font-family: $ubuntu;
        color: $links;
        font-size: 1em;
        padding-left: .5em;
    }
    label {
        color: $calipso;
    }
    hr {
        margin: 1em 0;
        color: $estructura;
    }
}

.blank {
    height: 3em;
}

.limitr {
    border: $def-border;
    margin: 0 1em;
}

.reporter {
    margin: 0;
    border: none;
    justify-content: space-between;
    flex-direction: row;
}

.reporter-pdf,
.reporter-excel,
.reporter-csv {
    height: 180px;
    width: 180px;
    border: $def-border;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
}

.rep,
.ilustrador {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.rep {
    display: inline-flex;
    background-image: url(/images/pdf-icon.png);
    height: 80%;
    padding-top: 1em;
}

.ilustrador {
    background-color: $primary-darken;
    height: 20%;
    padding-top: .3em;
    a {
        color: white;
        text-decoration: none;
        font-family: $monty;
    }
}

.reporter-pdf {
    background-color: $primary;
    color: $blanco;
}

.reporter-excel {
    background-color: #32CD27;
    color: $blanco;
    .rep {
        background-image: url(/images/excel-icon2.png);
    }
    .ilustrador {
        background-color: rgb(44, 179, 35);
    }
}

.reporter-csv {
    background-color: #189E0E;
    color: $blanco;
    .rep {
        background-image: url(/images/excel-icon.png);
    }
    .ilustrador {
        background-color: #158a0d;
    }
}

.detallados {
    width: 100%;
    margin-top: 2em;
    .btn {
        height: 4em;
        width: 30%;
        margin-left: 0;
        font-size: 1em;
        background-color: $calipso;
    }
}