/*Importando variables*/

@import "_fonts";
@import "_colores";
* {
    /*Aplicamos las reglas generales de la hoja de estilos, para evitar que nuestros componentes tengan márgenes y paddings por defecto.
    */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    /*La fuente por defecto para el documento html y su body */
    font-family: $monty;
}

.limiter {
    /*Esta clase cumple la función de centrar el formulario completo, para eso hacemos uso del display:flex (habilitar el comportamiento flex de este div y todos sus componentes internos), el justify-content:center (para centrar horizontalmente nuestro formulario) y el align-items:center (para centrar verticalmente) */
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    /*Establecemos las "reglas" de estilo para el contenedor del formulario de ingreso al sistema. 
    Este es el componente "hijo" del componente con clase .limiter
    */
    width: 35em;
    /*background: chocolate;*/
    padding: 0 3em;
    .login-header a {
        text-decoration: none;
    }
    h2 {
        /*Modificando el encabezado YCOURSES*/
        text-align: center;
        font-weight: 900;
        font-size: 3em;
        padding-top: .7em;
        margin-bottom: 1em;
        color: rgba(48, 0, 92, 0.8);
        text-transform: uppercase;
        .capital {
            /*Cambiar de color la primera letra de la palabra YCOURSES*/
            color: black;
        }
        .regular {
            /*La palabra YCOURSES debe ir con el color primario del "logotipo"*/
            color: $primary;
        }
    }
    input[type="email"],
    input[type="password"] {
        /*Aplicando estilos sobre campos del tipo email y password*/
        width: 100%;
        height: 3.5em;
        margin-bottom: 1em;
        border-radius: 3px;
        border: 0px solid;
        /*Configuracion de font*/
        color: rgb(64, 56, 102);
        background-color: rgb(230, 230, 230);
        font-family: $ubuntu;
        font-weight: bold;
        font-size: 1.3em;
        padding-left: 1.3em;
        &:focus {
            /*Añadir bordes a los campos email y contraseña cuando los indico con el cursor*/
            border: 1px solid;
            border-color: $primary;
        }
    }
    input[type="checkbox"] {
        /*Aplicando estilos sobre campo checkbox "Recordarme"*/
        border-color: $primary;
        border-radius: 1px solid;
        +label {
            color: rgba(119, 119, 119, 0.822);
            font-weight: bold;
        }
    }
    input[type="submit"] {
        /*Aplicando estilos sobre nuestro botón submit*/
        background-color: $primary;
        color: white;
        width: 100%;
        height: 3.5em;
        font-size: 1.3em;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            /*Efecto Fancy para cuando posemos el cursor sobre el botón de ingreso, la propiedad transition nos permite modificar la velocidad con la que el botón cambia de botón, en este caso los valores:
            ".3s" nos indica que la animación durará 1/3 de segundo.
            "all" debe aplicarse a todos los cambios que experimente este botón.
            "ease" es el valor por defecto de esta propiedad, y nos indica que el efecto comienza lentamente para luego volverse rápido, y terminar de forma lenta. Puedes jugar con los valores para notar con facilidad como funciona.
            
            */
            background-color: $primary-darken;
            transition: .3s all ease;
        }
    }
    .help-kit {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;
        .sub-help {
            display: -webkit-inline-box;
            a {
                text-decoration: none;
                font-family: $ubuntu;
                color: $primary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/*desarrollo del footer*/

.container-footer {
    /*Establecemos los estilos para el footer de esta página*/
    border: 2px solid;
    border-color: $estructura;
    height: 5em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    h2 {
        font-size: 1em;
        color: gray;
        a {
            color: steelblue;
            &:hover {
                color: rgb(54, 114, 163);
            }
        }
    }
}

.login-menu {
    /*Estilos para el menú de botones para simular el ingreso a las distintas interfaces del sistema.*/
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    a {
        text-decoration: none;
    }
    .adm,
    .usr,
    .per {
        width: 12vw;
        height: 3vh;
        border: none;
        border-radius: 2px;
        font-family: $monty;
        color: white;
        cursor: pointer;
    }
    .adm {
        /*Personalización de botón de adminstración*/
        background-color: $facebook;
        &:hover {
            background-color: $facebook-darken;
            transition: .2s all ease;
        }
    }
    .usr {
        /*Personalización de botón de usuario*/
        background: $primary;
        &:hover {
            background-color: $primary-darken;
            transition: .2s all ease;
        }
    }
    .per {
        /*Personalización de botón de personal*/
        background-color: rgb(64, 56, 102);
        &:hover {
            background-color: rgb(46, 40, 73);
            transition: .2s all ease;
        }
    }
}