/*Fuentes */

/*Ubuntu*/

@import "_fonts";
@import "_colores";
@import "_header";
@import "_botones";
@import "_tablas";
@import "_perfiles";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    font-family: $monty;
    background-color: $blanco;
}

/*Para la lista de links: sin estilo para links*/

/*Selector del header*/

main {
    /*Aplicando estilos al contenido main*/
    .containerd {
        /*Contenedor principal */
        position: relative;
        background-color: $blanco;
        width: 100%;
        padding: 0 2% 0 2%;
    }
    .card {
        width: 100%;
        display: block;
  height: 600px;

    }
    .image{
        display: inline-block;

    }
    .image img {
         
        /* Modificando los atributos de la imagen principal del card */
        background-attachment: fixed;
        background-position: center;
        width: 100%;
    }
}
.hok{}